*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)) ,url(../images/background.jpg) no-repeat center fixed; 
	background-size: cover;
    color: white;
    height: 600px;
}
.navbar{
    background: rgba(66, 69, 70, 0.11);
    padding: 10px 40px;
}
.logo img{
    height: 70px;
    width:70px;
    border-radius:50%;
    float: left;
    cursor: pointer;
}
.navlinks{
    float: right;
}
.navlinks ul{
    list-style: none;
}
.navlinks ul li{
    display: inline-block;
    margin-left:25px;
    margin-top: 10px;
    padding:13px 18px;
    transition: all ease-in-out 300ms;
    position: relative;
}
.navlinks li:hover{
    background: rgba(128, 128, 128, 0.616);
}
ul a{
    transform: uppercase;
    text-decoration: none;
    color: white;
}
.navlinks li::after{
    content: '';
    display: block;
    height: 4px;
    background: aqua;
    position: absolute;
    left:0;
    bottom: 0;
    width: 0%;
    transition: all ease-in-out 300ms;

}
.navlinks li:hover::after{
    width: 100%;
}
.aboutme{
    padding:40px 100px;
    text-align:center;

}  
.meheading{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: rgb(8, 255, 255);
}
.name{
    color: rgb(8, 255, 255);
}
.aboutme h2{
    font-size: 20px;
    margin-bottom: 10px;
}
.meparagraph{
    margin-bottom: 10px;
    width: 400px;
}
.meparagraphlink a{
    color:  rgb(8, 255, 255);
    text-decoration: none;
}
.mecontent{
    display: flex;
}
.meparagraph, .meimage{
    flex: 1;
}
.memore p{
    font-size: 20px;
    margin: 20px;
}
.memore h2{
    font-size: 24px;
}
.meimage img{
    margin-left:300px;
    width: 300px;
    border-radius: 30%;
    cursor: pointer;
}
.test{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)) ,url(../images/bg1.jpg) no-repeat center fixed; 
	background-size: cover;
}
.myprojects{
    height: 350px;
    
}
.myprojects h2{
    text-align: center;
    color: aqua;
    font-size:30px;
}
.myprojects h3{
    margin-bottom: 10px;
    font-size: 18px;
}
.theprojects{
    display: flex;
}
.project{
    background: white;
    flex: 1;
    padding: 30px;
    margin: 20px 20px 10px 20px;
    border-radius: 15px;
    height: 280px;
    text-align: justify;
}
.project p{
    padding-top: 10px;
}
.about{
    margin: 5px 20px;
    height: 250px;
    color: white;
}
.about h2{
    text-align: center;
    padding-bottom: 10px;

}
.abouts{
    float: left;
    width: 355px;
    height: 160px;
   padding: 25px;
    margin: 10px 0px 10px 80px;
    border-right:2px solid aqua;
}
.about h3{
    padding-bottom: 10px;
}
.footer{
    color:white;
    background: rgba(18, 34, 39, 0.486);
    height: 300px;
    position: relative;
    bottom: 0px;
    width: 100%;
    

}
.footer-bottom{
    text-align: center;
    bottom: 0;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    background: rgba(6, 11, 14, 0.4);

}	

.fcontent{
    display: flex;
    
}
.fsection{
    padding: 25px;
    flex:1;
    border-right: 2px solid aqua;
}
.fsection .contact span{
    display: block;
    font-size: 18px;
    margin: 10px 0px;

}
.fsection .socials a{
    border:1px solid white;
    color:white;
    padding: 5px;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s;
    
}
.fsection .socials a:hover{
    border:1px solid white;
    color:white;
    transition: all 0.5s;
}
.fsection h2{
    padding: 5px 0px;
}
.fsection ul li a{
    display: block;
    margin-bottom: 8px;
    margin-left: 10px;
    font-size: 16px;
    transition: all 0.5s ease;
    width: 100px;
}
.fsection ul li a:hover{
    color: aqua;
    margin-left:20px;
    transition: all 0.5s ease;
}
.fsection input, textarea{
    background: rgba(31, 21, 21, 0.555);
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    line-height: 30px;
    font-size: 16px;
    width: 100%;
    padding: 5px 8px;
    color: white;
}
.fsection button{
    border: none;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 16px; 
    background-color: rgba(0,136,169,1);
    border-radius: 50px;
    transition: all 0.5s ease;
}
.fsection button:hover{
    background-color: rgba(0,136,169,0.7);
    transition: all 0.5s ease;

}



